.adjustFormControl{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;

}

.inputField{
    margin-left: 20px;
}

.fontStyle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.fontHeader{
 font-family: Comic Sans MS, Comic Sans, cursive;
 font-style: italic;
}
