
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Book My Ticket</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
          <img class="height-adjust" src="https://bulma.io/images/bulma-logo.png">
      </li>
      <li>
        <a class="nav-item nav-link active" routerLinkActive="active" routerLink="bookMovie">Book A Movie</a>
      </li>
      <li>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="bookings">Show Bookings</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login  </a></li>
      </ul>
  </nav>

<img src="/assets/images/giphy.gif" />
<router-outlet></router-outlet>

 <!-- Footer -->
<footer class="page-footer font-small navbar-fixed-bottom">
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://www.google.com/"> Google.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>